<!DOCTYPE html>

<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html;" charset="UTF-8">
        <title>dist-app</title>
        <link rel="stylesheet" type="text/css" href="/css/reset.css">
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
        <link rel="stylesheet" type="text/css" href="/css/nav.css">
        <link rel="stylesheet" type="text/css" href="/css/catalog.css">
    </head>
    <body>
        <header>
            <nav>
                <h3>
                    <a href="/index.html">
                        My Webshop
                    </a>
                </h3>
                <ul class="nav-links">
                    <li>
                        <a href="/dashboard/dashboard.html">Dashboard</a>
                    </li>
                    <li>
                        <a href="/mvc/products">Catalog</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main class="container">
            <h1 th:text="'Browse our ' + ${products.size()} + ' products'">Browse our products</h1>
            <div class="flex">
                <a class="button" href="/create/product-js.html">Create product</a>
            </div>
            <div style="overflow-x:auto;" class="card">
                <table>
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Size</th>
                        <th>Color</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="product : ${products}">
                        <td th:text="${product.name}"></td>
                        <td th:text="${product.price}"></td>
                        <td th:text="${product.size}"></td>
                        <td th:text="${product.color}"></td>
                        <td class="flex">
                            <a class="button" th:href="'/mvc/product/' + ${product.id}">View details</a>
                            <div th:if="${edit}">
                                <input type="hidden" id="id" th:value="${product.id}">
                                <button id="delete" class="button">Delete</button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </body>
    <script>
        document.getElementById("delete").addEventListener("click", () => {
            const id = document.getElementById("id").value;
            console.log(id);

            fetch(`/rest/products/delete/${id}`,
                {
                    method: "DELETE",
                }
            )
                .then((response) => {
                    if (!response.ok) {
                        throw new Error("Product could not be deleted")
                    }

                    alert(`Product was successfully deleted`);
                    window.location.replace("/mvc/products?edit=true");
                })
                .catch((error) => console.log(error))
        })

    </script>
</html>