<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;" charset="UTF-8">
    <title>dist-app</title>
    <style>
        table {
            width: 100%;
        }

        th {
            text-align: start;
        }
    </style>
</head>
    <body>
        <a href="/dashboard/dashboard.html">Back to dashboard</a>
        <h1 th:text="'Browse our ' + ${products.size()} + ' products'">Browse our products</h1>
        <div style="overflow-x:auto;">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Size</th>
                        <th>Color</th>
                        <th>Link</th>
                        <th th:if="${edit}">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="product : ${products}">
                        <td th:text="${product.name}"></td>
                        <td th:text="${product.price}"></td>
                        <td th:text="${product.size}"></td>
                        <td th:text="${product.color}"></td>
                        <td>
                            <a th:href="'/mvc/product/' + ${product.id}">View details</a>
                        </td>
                        <td th:if="${edit}">
                            <input type="hidden" id="id" th:value="${product.id}">
                            <button id="delete">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
    <script>
        document.getElementById("delete").addEventListener("click", () => {
            const id = document.getElementById("id").value;
            console.log(id);

            fetch(`/rest/products/delete/${id}`,
                {
                    method: "DELETE",
                }
            )
                .then((response) => {
                    if (!response.ok) {
                        throw new Error("Product could not be deleted")
                    }

                    alert(`Product was successfully deleted`);
                    window.location.replace("/mvc/products?edit=true");
                })
                .catch((error) => console.log(error))
        })

    </script>
</html>