<!DOCTYPE html>

<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html;" charset="UTF-8">
        <title>dist-app</title>
        <link rel="stylesheet" type="text/css" href="/css/reset.css">
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
        <link rel="stylesheet" type="text/css" href="/css/nav.css">
        <style>
            .product-details {
                display: grid;
                grid-template-columns: auto 1fr;
                gap: 0.75rem 1.5rem;
            }

            .product-details dt {
                font-weight: 600;
            }
        </style>
    </head>
    <body>
        <header>
            <nav>
                <h3>
                    <a href="/index.html">
                        My Webshop
                    </a>
                </h3>
                <ul class="nav-links">
                    <li class="nav-button">
                        <a href="/dashboard/dashboard.html">Dashboard</a>
                    </li>
                    <li class="nav-button">
                        <a href="/mvc/products">Catalog</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main class="container">
            <h1 id="name" th:text="${product.name}">Product</h1>
            <div class="card">
                <dl class="product-details">
                    <dt>Price</dt>
                    <dd id="price" th:text="${product.price}"></dd>
                    <dt>Size</dt>
                    <dd id="size" th:text="${product.size}"></dd>
                    <dt>Color</dt>
                    <dd id="color" th:text="${product.color}"></dd>
                </dl>
            </div>
        </main>
    </body>
</html>