<!DOCTYPE html>

<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html;" charset="UTF-8">
        <title>dist-app</title>
        <link rel="stylesheet" type="text/css" href="/css/reset.css">
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
        <link rel="stylesheet" type="text/css" href="/css/nav.css">
        <style>
            .total {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .total dt {
                font-weight: 600;
            }
        </style>
    </head>
    <body>
        <header th:replace="fragments/header :: header"></header>
        <main class="container">
            <h1>Your Shopping Cart</h1>
            <div style="overflow-x:auto;" class="card">
                <table>
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Size</th>
                        <th>Color</th>
                        <th>Price</th>
                        <th>Quantity</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item: ${cart.getCartItems()}">
                        <td th:text="${item.product.name}"></td>
                        <td th:text="${item.product.color}"></td>
                        <td th:text="${item.product.size}"></td>
                        <td th:text="${item.product.price}"></td>
                        <td th:text="${item.quantity}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="card">
                <dl class="total">
                    <dt>Total Price</dt>
                    <dd th:text="${total}"></dd>
                </dl>
            </div>
        </main>
    </body>
</html>