h1 {
    font-size: 2em;
    font-weight: bold;
    margin: 0.67em 0;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0.83em 0;
}

h3 {
    font-size: 1.17em;
    font-weight: bold;
    margin: 1em 0;
}

li {
    list-style-type: none;
}

section {
    width: 50%;
}

.flex {
    display: flex;
    gap: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.card {
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 20px;
    margin: 20px;
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.button {
    display: block;
    border: 1px solid #000;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    color: #000;
    padding: 5px 8px 5px 8px;
    background-color: #fff;
}

.button:hover {
    background: #5ca7c4;
    background: linear-gradient(90deg, rgba(92, 167, 196, 1) 0%, rgba(214, 241, 255, 1) 100%);
}